# Core Requirements
configparser

# Unit Testing Requirements
mock
pytest
pytest-cov

# Private Repositories
configparserenhanced @ git+ssh://git@github.com:sandialabs/ConfigParserEnhanced.git@master#egg=configparserenhanced

